---
 layout: 'base.njk'
---
<!-- Slider -->
<div class="slider-wrapper page-section">
    <header class="hero-text">
        <div class="hero" data-arrows="false" data-autoplay="false">
            <!--.hero-slide-->
        
            <div class="hero-slide d-flex flex-column align-items-start justify-content-center m-h-500">
                <img class="img-responsive cover" src="{{ imageHeader }}">
            
            </div>
            <!--.hero-slide-->
        
        </header>
</div>
        
<section class="position-relative page-section bg-about" id="about">
    <div class="container pt-5">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h1 class="text-primary mb-5 text-uppercase">
                   {{ title }}
                </h1>
            </div>
            <div class="col-lg-3 offset-lg-2">
                    <div class="mb-5">
                        <img class="img-fluid" src="{{ image }}" alt="{{ imageAlt }}"/>
                    </div>
            </div> 
            <div class="col-lg-5">
                <div class="row">
                    <div class="col-12">
                        <p class="lead">
                            {{ content | safe }}
                        </p>     
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

       