---
    title: Mithila participates in the The AdForum PHNX Tribute 2021 as a Jury member
    author: Pepper
    date: 2021-06-27
    imageHeader: /assets/news/PHNX.png
    image: /assets/news/PhnxInstaPost3.png
    imageAlt : Mithila
    description : Take a bow Mithila, we are very proud of your achievement!
---
        
Huge congratulations to Mithila for the honour of being part of the Jury at PHNX Tribute 2021. You have brought glory to Sri Lanka & Pepper.

Take a bow Mithila, we are very proud of your achievement! 