---
    title: Onila participates in the New York Festival Advertising Awards 2021 as a Grand Jury member
    author: Pepper
    date: 2021-06-28
    imageHeader: /assets/news/NewYorkFestivalsAdvertisingAwards.jpg
    image: /assets/news/onila.jpg
    imageAlt : Onila
    description : Take a bow Onila, we are very proud of your achievement!
---
        
Huge congratulations to Onila for the honour of being part of the Grand Jury at New York Festivals 2021.  You have brought glory to Sri Lanka & Pepper.

Take a bow Onila, we are very proud of your achievement! 