body.darktheme{
  background: var(--black);
  color: var(--white);
}
/* .darktheme .logo img{
  display: none;
} */
.darktheme .logo{
  background-color: var(--black);
}
.darktheme .logo .navbar-brand{
  /* background-image: url('../assets/pepperLogoWhite.png');
  background-repeat: no-repeat;
  background-position: center; */
  background-color: var(--black);
  /* background-size: contain;
  width: 150px;
  height: 55px; */
}
.logo .navbar-brand img{
  width: 150px;
}

.darktheme nav ul li.nav-item .btn{
  background: var(--black);
  color: var(--white);
  position: relative;
}
.darktheme nav ul li.nav-item .btn span{
  display: none;
}
.darktheme nav ul li.nav-item .btn::before{
  content: 'Dark';
  position: absolute;
  top: 6px;
  left: 15px;
}

.darktheme .bg-light{
  background-color: var(--black100) !important;
}

.darktheme .text-gray{
  color: var(--white);
}

.darktheme .card-body{
  color: var(--white);
}
.darktheme nav ul.navbar-nav li a.nav-link{
  border: 1px solid transparent;
  border-right: none;
}
.darktheme nav ul.navbar-nav li a.nav-link.active{
  border: 1px solid transparent;
  border-right: none;
  background: var(--white);
  color: var(--black);
}
.themedark{display: none;}
.darktheme .themelight{display: none;}
.darktheme .themedark{display: inline-block;}

.darktheme .theme-switch-wrapper{
  background: transparent;
}
.darktheme .theme-switch-wrapper em{
  color: #000000;
}
.darktheme .navwork .nav-item {
  color: #ffffff;
}
@media screen and (min-width:992px){

  .logo .navbar-brand img{
    width: 250px;
  }
}
.darktheme #careers.bg-light{
  background-color: #0c0c0c !important;

}