.py-150{
  padding-top: 150px;
  padding-bottom: 150px;
}

.py-100{
  padding-top: 100px;
  padding-bottom: 100px;
}
.pt-100{
  padding-top: 100px;
}
.pb-100{
  padding-bottom: 100px;
}
.pb-200{
  padding-bottom: 200px;
}
.pt-200 {
  padding-top: 200px;
}
.mt-40{
  margin-top: 40px;
}
.pt-150{
  padding-top: 150px;
}
.pb-150{
  padding-bottom: 150px;
}