
.form-control{
  height: 65px;
  border-radius: 0;
  border:1px solid var(--gray100);
  background:#9c9ea1;
  color: #ffffff !important;
}
.form-control:focus{
  box-shadow: none;
  border: 1px solid var(--gray100);
}
textarea.form-control{
  min-height: 225px;
  padding-top: 12px;
  padding-left: 10px;
}
.btn{
  border-radius: 0;
  padding: 15px 40px;
  height: 65px;
}
.btn-primary{
  color: var(--white);
  background-color: var(--primary);
  border-color: var(--primary);
  transition: all 0.3s ease;
}
.btn-primary:hover,.btn-primary:focus{
  background-color: var(--primaryDark);
  border-color: var(--primaryDark);
}
.btn-primary:disabled{
  background-color: var(--primary);
  border-color: var(--primary);
  opacity: 0.5;
}

.input-group .input-group-text{
  background: #9c9ea1;
  border-radius: 0;
  color: var(--white);
  border-color: var(--gray100);
}
.input-group .form-control{
  border-left: none;
}
.input-group .form-control:focus,.input-group .form-control:active{
  background: #9c9ea1;
}

.input-group .input-group-text.textarea{
  padding-top: 15px;
}

/*slider switch css */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  z-index: 10000;
  right: 15px;
  top: 100px;
  transition: all ease 0.3s;
  border-radius: 50px;
  background: transparent;
  padding: 0px;
}
/* .theme-switch-wrapper:hover,.theme-switch-wrapper:focus {
  right: 10px;
} */
.theme-switch-wrapper .themedark i{
  position: absolute;
  left: 5px;
  top: 3px;
}
.theme-switch-wrapper .themelight i{
  position: absolute;
  right: 9px;
  top: 4px;
  font-size: 15px;
}

.theme-switch-wrapper i {
  color: #ffc107;
}
.theme-switch {
  display: inline-block;
  height: 24px;
  position: relative;
  width: 52px;
}
.theme-switch input {
  display: none;
}
.theme-switch-wrapper .slider {
  background-color: #ffffff;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}
.theme-switch-wrapper .slider:before {
  background-color: #ddd;
  bottom: 4px;
  content: "";
  height: 16px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 16px;
}
.theme-switch-wrapper input:checked + .slider {
  background-color: var(--black);
}
.theme-switch-wrapper input:checked + .slider:before {
  transform: translateX(26px);
}
.theme-switch-wrapper .slider.round {
  border-radius: 34px;
}
.theme-switch-wrapper .slider.round:before {
  border-radius: 50%;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffffff;
  opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ffffff;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
  color: #ffffff;
}

.error-text{
  font-size: 12px;
}