body{
  font-family: 'Roboto', sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
}
.logo{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: var(--white);
  padding: 10px 15px;
  width: 100%;
}
.navbar-brand{
  display: block;
}
nav{
  position: fixed;
  z-index: 2;
  top: 75px;
  width: 100%;
  background: var(--white);
}
nav ul.navbar-nav li a.nav-link{
  color: var(--primary);
  font-size: 12px;
  transition: all 0.4s ease;
  text-transform: uppercase;
  text-align: center;
  padding: 5px 0 5px 20px;
  border: 1px solid transparent;
  border-right: none;
}
nav ul li a.nav-link.fb{
  color: var(--white);
  background: #4B6DAD;
  font-size: 12px;
}
nav ul li a.nav-link.fb:hover, nav ul li a.nav-link.fb:focus{
  color: var(--white);
  background: #4B6DAD;
}

nav ul li a.nav-link.utube{
  color: var(--white);
  background: #F40002;
  font-size: 12px;
}
nav ul li a.nav-link.utube:hover, nav ul li a.nav-link.utube:focus{
  color: var(--white);
  background: #F40002;
}



nav ul li a.nav-link.insta{
  color: var(--white);
  background: #d64b93;
  background: -moz-linear-gradient(left, #d64b93 0%, #8857c7 100%);
  background: -webkit-linear-gradient(left, #d64b93 0%, #8857c7 100%);
  background: linear-gradient(to right, #d64b93 0%, #8857c7 100%);
  font-size: 12px;
}
nav ul li a.nav-link.insta:hover, nav ul li a.nav-link.insta:focus{
  color: var(--white);
  background: #d64b93;
  background: -moz-linear-gradient(left, #d64b93 0%, #8857c7 100%);
  background: -webkit-linear-gradient(left, #d64b93 0%, #8857c7 100%);
  background: linear-gradient(to right, #d64b93 0%, #8857c7 100%);
}
nav ul li a.nav-link.active, nav ul li a.nav-link:hover,nav ul li a.nav-link:focus{
  background: var(--black);
  color: var(--white);
  border-color: transparent;
}
.navbar-nav .nav-link{
  padding: .5rem 1rem;
}
nav ul li.nav-item .btn{
  width: 100%;
  padding: 5px 15px;
  height: 39px;
  margin-left: 50px;
  text-align: left;
}
nav ul li.nav-item .btn:focus{
  box-shadow: none;
  outline: none;
}

@-webkit-keyframes zoom {
  0%   {
    -webkit-transform: scale(1, 1);
  }
  100%  {
    -webkit-transform: scale(1.075, 1.075);
  }
}

@keyframes zoom {
  0% {
      transform: scale(1, 1);
  }
  100% {
      transform: scale(1.075, 1.075);
  }

}

.slider-wrapper{
  overflow: hidden;
  max-width: 100%;
}
.slide{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 700px;
  overflow: hidden;
}

.profileContainer{
  width: 100%;
}

.profileContainer .profile-cover{
  width: 100%;
  overflow: hidden;
  height: 740px;
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.profileContainer .profile-cover .profile-wrapper{
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;

}
.profileContainer .profile-wrapper.profile01{
  background-image: url('../assets/profile/mithila_de_silva.jpg');
}
.profileContainer .profile-wrapper.profile02{
  background-image: url('../assets/profile/sithu_nirmitha.jpg');
}
.profileContainer .profile-wrapper.profile03{
  background-image: url('../assets/profile/onila_de_silva.jpg');
}

.profile-desc{
  padding: 5%;
  color: var(--primary);
  text-decoration: none;
  background: rgba(0,0,0,0.35);
  transition: height ease 0.6s;
}
.profile-desc h2,.profile-desc p{
  margin-bottom: 0px;
}
/* .profileContainer .profile-wrapper:hover .profile-desc,.profileContainer .profile-wrapper:focus .profile-desc{
  height: 100%;
  bottom: 0;
} */

.profile-desc-more{
  margin-top: 30px;
  font-size: 13px;
  display: none;
}

.text-gray{
  color: var(--gray);
}

.scrollIndicator {
  position: absolute;
  z-index: 5;
  top: 60%;
  left: 50%;
  width: 24px;
  height: 24px;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}


@media screen and (min-width:992px){
  .theme-switch-wrapper{
    right: 15px;
    top: 20px;
  }
  .logo{
    /* margin-top: 40px; */
    width: auto;
    padding: 30px 40px;
    position: absolute;
  }
  nav#mainNav{
    width: 155px;
    background: transparent;
    right: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    display: block;
  }
  nav ul.navbar-nav li a.nav-link{
    text-align: left;
    margin-bottom: 10px;
    padding: 7px 0 7px 20px;
    letter-spacing: 1px;
  }
  nav ul li a.nav-link.fb{
    margin-left: 22px;
    margin-top: 15px;
  }
  nav ul li a.nav-link.insta{
    margin-left: 22px;
  }
  nav ul li a.nav-link.utube{
    margin-left: 22px;
  }
  .profileContainer{
    width: 75%;
  }
  .profileContainer .profile-cover{
    height: 940px;
    width: 33.33%;
  }
  .slide{
    min-height: 1000px;
  }
  .slideAbout{
    min-height: 650px;
  }
  .scrollIndicator {
    top: 85%;
  }
}
@media screen and (min-width:992px) and (max-width:1199px){

}
@media screen and (min-width:1199px){
  .profile-desc-more{
    display: none;
  }
  .profileContainer .profile-wrapper:hover .profile-desc-more, .profileContainer .profile-wrapper:focus .profile-desc-more{
    display: block;
  }
  .profile-desc{
    height: 150px;
  }
  .profileContainer .profile-wrapper:hover .profile-desc,.profileContainer .profile-wrapper:focus .profile-desc{
    height: 100%;
  }
  .hero .hero-slide .header-content.textonly.slide-content .h1{
    font-size: 200px;
    line-height:1;
  }
}

@media screen and (max-width:576px){

  .slide{
    min-height: 430px;
  }
  .scrollIndicator{
    top: 36%;
  }
}

/* slider */
header {
  overflow: hidden;
}

.hero-text h2 {
  margin-bottom: 50px;
}

.hero-text .hero {
  position: relative;
}

.hero-text .hero .hero-slide a:hover span {
  color: #033a71;
}

.hero .hero-slide img.cover {
  width: 100%;
  height: 900px;
  object-fit: cover;
  object-position: center center;
}

.hero .hero-slide .header-content {
  max-width: 1130px;
  width: 100%;
  padding: 2rem;
  margin-top: 18%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.hero .hero-slide .header-content.bg-light-dark{
  background: rgba(0,0,0,0.35);
}
.hero .hero-slide .header-content.textonly {
  margin-top: 0%;
}

.slide-content {
  padding: 10px 20px 10px 0;
}

.slide-content .h1 {
  font-size: 62px;
  line-height: 1.5;
}

@media screen and (min-width:768px){
  .slideAbout{
    min-height: 560px;
  }
  .hero .hero-slide .header-content.textonly.slide-content .h1 {
    font-size: 100px;
    line-height: 1;
  }
}
.slide-content p{
  font-size: 26px;
  font-weight: lighter;
}
.text-primary{
  color: var(--primary) !important;
}
.text-blue{
  color: #053eff;
}

/** Text Animation **/

@-webkit-keyframes fadeInUpSD {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUpSD {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUpSD {
  -webkit-animation-name: fadeInUpSD;
  animation-name: fadeInUpSD;
}

.slick-active .slide-content {
  animation-name: fadeInUpSD;
  animation-duration: 1s;
  opacity: 1;
  width: 100%;
  padding: 10px 20px 30px 0;
}

/* Text Animation End **/

.slick-dots {
  position: absolute;
  bottom: 10px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
  display: none;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 3px;
  padding: 0;
  cursor: pointer;
}

.slick-active button {
  background: var(--primary);
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 16px;
  height: 16px;
  padding: 5px;
  cursor: pointer;
  border-radius: 50%;
  border: 0;
  outline: none;
}

.slick-dots li button::before {
  font-size: 18px;
  color: #fff;
  opacity: 1;
}


/* Media Queries */

@media (max-width: 768px) {
  .hero-text .hero .hero-slide a {
    padding-top: 0.8rem;
  }

}

.fa-2{
  font-size: 18px;
}
.fa-4{
  font-size: 22px;
}
.fa-8{
  font-size: 32px;
}

.w-20{
  width: 25px;
}

.text-underline{
  text-decoration: underline;
}

.line-height-08{
  line-height: 0.8 !important;
}

.pt-15{
  padding-top: 12px;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
}

.navwork {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  flex: 1 1 auto;
  padding: 10px 0px;
  margin-bottom: 40px;
}

.navwork .nav-item {
  position: relative;
  padding: 0 5px;
  margin: 0 5px;
  font-size: 1.5em;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  line-height: 1.5;
}
.navwork .nav-item:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--primary);
  transition: all 500ms;
}
.navwork .nav-item.active {
  color:var(--primary) !important;
  transition: all 350ms;
}
.navwork .nav-item.active:before {
  width: 100%;
}

.portfolio {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.project {
  position: relative;
  flex: 1 0 calc(100% - 20px);
  margin: 10px;
}
.project:hover .project-info {
  background: rgba(89, 89, 89, 0.7);
}
@media (min-width: 520px) {
  .project {
    flex: 0 0 calc((100% / 2) - 20px);
  }
}
@media (min-width: 860px) {
  .project {
    flex: 0 0 calc((100% / 3) - 20px);
  }
}

.project-image img {
  display: block;
  width: 100%;
  height: 100%;
}

.project-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  color: #f6f6f6;
  background: rgba(89, 89, 89, 0.8);
  opacity: 0;
  transition: all 350ms ease-in;
}
.project-info:hover {
  opacity: 1;
}

.m-h-350 img{
  max-height: 350px; 
  min-height: 350px;
  object-fit: cover;
  width: 100%;
}
.m-h-500 img{
  max-height: 500px; 
  object-fit: cover;
  object-position: 50% 15% !important;
  width: 100%;
}
.m-h-500 img.center{
  object-position: 50% 50% !important;
}

@media (max-width: 767px) {
  .project-info {
    opacity: 0.8;
  }
  .hero .hero-slide .header-content.textonly.slide-content .h1 {
    font-size: 80px;
    line-height: 1;
  }
  .m-h-500 img{
    max-height: 300px;
  }
}

.project-info-title {
  margin: 0 0 0.5em;
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
}

.project-info-button {
  padding: 0.5em 1em;
  color: inherit;
  text-decoration: none;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  transition: all 350ms;
}
.project-info-button:hover {
  color: #595959;
  background: #f6f6f6;
  border-color: #f6f6f6;
}



.customer-logos .slick-slide {
  margin: 0px 10px;
}

.customer-logos .slick-slide img {
  width: 100%;
}

.customer-logos.slick-slider
{
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.customer-logos .slick-list
{
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.customer-logos .slick-list:focus
{
  outline: none;
}
.customer-logos .slick-list.dragging
{
  cursor: pointer;
  cursor: hand;
}

.customer-logos .slick-slider .slick-track,
.customer-logos .slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.customer-logos .slick-track
{
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.customer-logos .slick-track:before,
.customer-logos .slick-track:after
{
  display: table;
  content: '';
}
.customer-logos .slick-track:after
{
  clear: both;
}
.customer-logos .slick-loading .slick-track
{
  visibility: hidden;
}

.customer-logos .slick-slide
{
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
.customer-logos [dir='rtl'] .slick-slide
{
  float: right;
}
.customer-logos .slick-slide img
{
  display: block;
}
.customer-logos .slick-slide.slick-loading img
{
  display: none;
}
.customer-logos .slick-slide.dragging img
{
  pointer-events: none;
}
.customer-logos.slick-initialized .slick-slide
{
  display: block;
}
.customer-logos .slick-loading .slick-slide
{
  visibility: hidden;
}
.customer-logos .slick-vertical .slick-slide
{
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.customer-logos  .slick-arrow.slick-hidden {
  display: none;
}
.navbar-light{
  right: 10px;
  z-index: 2;
}

.line-clamp-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.bg-primary{
  background: var(--primary) !important;
}

@media (min-width: 992px) and (max-width: 1199px){
  .hero .hero-slide .header-content{
    max-width: 560px;
  }
  
}
@media (min-width: 1200px) and (max-width: 1499px){
  .hero .hero-slide .header-content{
    max-width: 700px;
  }
}

@media (min-width: 1399px) {
  .profile-desc-more{
    font-size: 14px;
  }
  .hero .hero-slide .header-content.textonly.slide-content .h1 {
    font-size: 200px;
    line-height: 1;
  }
}

.card{
  border: none;
  background: transparent;
  
}
.card-body{
  padding-left: 0;
}

a:hover.card .card-body,a:focus.card .card-body{
  color: var(--primary);
  transition: all ease 0.3s;
}

.left-align{
  left: 0;
  right: unset !important;
  text-align: left !important;
  max-width: 1000px !important;
  margin-top: 12% !important;
  padding-left: 5px !important;
}
.left-align h1{
  font-size: 46px !important;
  line-height: 1 !important;
}

.font-size-200{
  font-size: 100px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .font-size-200{
    font-size: 180px;
  }
  .left-align h1{
    font-size: 48px !important;
  }
}

@media (min-width: 992px) {
  .font-size-200{
    font-size: 120px;
  }
  .left-align h1{
    font-size: 62px !important;
  }
}
@media (min-width: 1199px) {
  .font-size-200{
    font-size: 140px;
  }
  .left-align h1{
    font-size: 72.5px !important;
  }
  .project{
    min-height: 210px;
  }
}

@media (min-width: 1499px) {
  .font-size-200{
    font-size: 180px;
  }
  .left-align h1{
    font-size: 76px !important;
  }
}

@media (min-width: 1920px) {
  .left-align h1{
    font-size: 98.5px !important;
  }
}
nav ul.navbar-nav li a.nav-link.social-link{
  padding-left: 10px;
  font-size: 10px;
}
nav ul.navbar-nav li a.nav-link.social-link i{
  margin-right: 5px;
  vertical-align: sub;
  font-size: 18px;
}

.hero .hero-slide.slick-current.slick-active img.cover{
  animation: current_anime 5000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) 1 forwards;
  -moz-animation: current_anime 5000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) 1 forwards;
  -o-animation: current_anime 5000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) 1 forwards;
  -ms-animation: current_anime 5000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) 1 forwards;
}
   
@keyframes current_anime{
  0%{
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -o-transform:scale(1);
    -ms-transform:scale(1);
    transform:scale(1)
  }
  100%{
      -webkit-transform:scale(1.04);
      -moz-transform:scale(1.04);
      -o-transform:scale(1.04);
      -ms-transform:scale(1.04);
      transform:scale(1.04)
    }
  }

/*PRELOADING------------ */
#overlayer {
  width:100%;
  height:100%;  
  position:absolute;
  z-index:99999;
  background: #000000;
  display: flex;
  justify-content: center;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  z-index:99999;
  border: 2px solid #ffffff;
  top: 50%;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: var(--primary);
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

.mt-150{
  margin-top: 150px;
}